.head {
    background-image: url('/images/banner/banner2.png');
    background-repeat: no-repeat;
    width: 1600px;
    height: 809px;
    display: flex;
    align-items: center;
    margin: auto;
}

.header {
    margin-left: 500px;
}

.btn-primary {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    background: #02ff2c;
    border-radius: 5px;
    border: 1;
}

section li {
    list-style: url(/images/icons/circle-right-solid.svg);
}


.section {
    display: flex;
    margin-top: 130px;
    margin-left: 450px;
    margin-right: 322px;
    width: 1072px;
    height: 723.3px;
    content: none;
}

.body-title {
    font-size: 40px;
    font-style: normal;
}

.body-description {
    font-size: 25px;
}

.section-summary {
    font-size: 30px;
    margin-top: 200px;
}

.section-summary li {
    font-size: 25px;
}

/* My Plans Section */
.plans-head {
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
}

.expert-in {
    display: flex;
    gap: 40px;
    margin: 0 500px;
    text-align: center;
}

.skill-title {
    font-weight: 700;
    font-size: 30px;
    margin: 6px 4px;
}

.skill-description {
    font-weight: 500;
    font-size: 25px;
    margin: 6px 0;
}

.skill{
    background: rgb(255, 255, 255);
    box-shadow: 0px 10px 50px rgb(117, 116, 116);
    border-radius: 15px;
}

.last-section{
    background-image: url(/images/gradient2.png);
    height: 200px;
    background-repeat: no-repeat;
    margin: 100px;
    margin-left: 496px;
}

.last-section-summary{
    margin-top: 50px;
}